<div style="margin-top: 1%;">

<form>
    <div class="row">
    
    <div class = "col-sm-4">
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Student Id</mat-label>
            <!-- <input type="text" matInput placeholder="studentId"> -->
            <input type="text" matInput [formControl]="studentControl" [matAutocomplete]="auto" placeholder="studentId">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                @for (option of filteredOptions | async; track option) {
                <mat-option [value]="option">{{option.sid}}</mat-option>
                }
            </mat-autocomplete>
            <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
    </div>

    <div class="col-sm-2">
        @if(isStudentInfoBtnVisible){
            <button mat-raised-button color="primary" id="button" (click)="dialog_open()">Student Info</button>
        }

    </div>
   
    <div class="col-sm-4">

        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Book Name</mat-label>
            <!-- <input type="text" matInput placeholder="studentId"> -->
            <input type="text" matInput [formControl]="bookControl" [matAutocomplete]="auto1" placeholder="bookName">
            <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFnBook">
                @for (option of bookFilteredOptions | async; track option) {
                <mat-option [value]="option">{{option.name}} {{option.edition}} {{option.author}}
                    {{option.publisher}}</mat-option>
                }
            </mat-autocomplete>
            <mat-icon matPrefix>menu_book</mat-icon>
        </mat-form-field>

    </div>

    <div class="col-sm-2">
        @if (isBookInfoBtnVisible == true) {
            <button mat-raised-button color="primary" id="button" (click)="dialogBook_open()">Book Info</button>
            }        
    </div>
 
    
    </div>


    <div class="row">

        <div class="col-sm-4">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Issue Date</mat-label>
                <input matInput [matDatepicker]="dp1" [formControl]="date">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="dp1" disabled></mat-datepicker-toggle>
                <mat-datepicker #dp1></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="col-sm-2"></div>

        <div class="col-sm-4">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Due Date</mat-label>
                <input matInput [matDatepicker]="dp2" [formControl]="due_date">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="dp2" disabled></mat-datepicker-toggle>
                <mat-datepicker #dp2></mat-datepicker>
            </mat-form-field>
        </div>
        
        <div class="col-sm-2">
            <container-element [ngSwitch]="isUpdateFlag">
                <button mat-raised-button *ngSwitchCase="false" color="primary" id="button" (click)="submit()">Submit</button>
                <button mat-raised-button *ngSwitchCase="true" color="primary" id="button" (click)="updateIssueBk()">Update</button>
            </container-element>
        </div>


    </div>

    <div class="row" id="searchRow">
        <mat-form-field appearance="outline" style="width:50%;">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
            <mat-icon matPrefix>search</mat-icon>
          </mat-form-field>
    </div>


    <table mat-table [dataSource]="issueBkDataSource" class="mat-elevation-z8" matSort>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.bookName}} </td>
        </ng-container>

        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
            <td mat-cell *matCellDef="let element"> {{element.bookAuthor}} </td>
        </ng-container>

        <ng-container matColumnDef="publisher">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Publisher </th>
            <td mat-cell *matCellDef="let element"> {{element.bookPublisher}} </td>
        </ng-container>

        <ng-container matColumnDef="edition">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Edition No </th>
            <td mat-cell *matCellDef="let element"> {{element.bookEdition}} </td>
        </ng-container>

        <ng-container matColumnDef="student">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Student Id</th>
            <td mat-cell *matCellDef="let element"> {{element.studentId}} </td>
        </ng-container>

        <ng-container matColumnDef="issueDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Issue Date</th>
            <td mat-cell *matCellDef="let element"> {{element.issueDate}} </td>
        </ng-container>

        <ng-container matColumnDef="dueDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</th>
            <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
        </ng-container>

        <ng-container matColumnDef="librarianId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>LibrarianId</th>
            <td mat-cell *matCellDef="let element"> {{element.librarianId}} </td>
        </ng-container>

        <ng-container matColumnDef="modify">
            <th mat-header-cell *matHeaderCellDef> Modify </th>
            <td mat-cell *matCellDef="let element">
                <!-- <button mat-raised-button color="accent" id="button" (click)="load_book(element.id)">Modify</button> -->
                <mat-icon aria-hidden="false" aria-label="modify" fontIcon="edit" (click)="modifyIssueBk(element.tid)"></mat-icon>
            </td>
        </ng-container>

        

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>


</form>

</div>