
<mat-card class="settings-mat-card" style="margin-bottom: 3%;">
    <mat-card-title><h1 class="settings-h1">Reset Password</h1></mat-card-title>
    <hr>
    <mat-card-content><form>

    <mat-form-field appearance="outline" style="width: 50%;">
        <mat-label>Old Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="oldPassword" placeholder="OldPassword">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    @if (validOldPassword == true) {
        <div style="color: red;">Invalid Old Password</div>
    } 
    <br>

    <mat-form-field appearance="outline" style="width: 50%;">
        <mat-label>New Password</mat-label>
        <input matInput [type]="hide1 ? 'password' : 'text'" [formControl]="newPassword" placeholder="NewPassword">
        <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide1">
            <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline" style="width: 50%;">
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="hide2 ? 'password' : 'text'" [formControl]="confirmPassword" placeholder="ConfirmPassword">
        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide2">
            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    @if (validConfirmPassword == true) {
        <div style="color: red;">Invalid Confirm Password</div>
    } 
    <br>
   
    <button mat-raised-button color="primary" (click)="update()">Update</button>
</form>
</mat-card-content>
</mat-card>
